@charset "utf-8";

iframe[name="google_conversion_frame"]{
  display: none;
}

html, body{
  width: 100%;
  height: 100%;
}

body > .sp{
  width: 100%;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  overflow-x:scroll;
  overflow-y:hidden;
}

body{
  margin: 0;
  padding: 0;

  background: #dddddd;

  overflow-y:hidden;


  *{
    font-family: 'Noto Sans Japanese', "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  }

  & > header{
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
    background: $PRIMARY;
    border-bottom: solid 6px $PRIMARY_DARK;

    z-index: 100;

    position: fixed;
    a{
      width: 120px;
      height: 36px;
      padding: 12px 12px 12px 24px;

      display: block;
      
      position: absolute;
      top: 0;
      bottom: 0;
      //left: 24px;
      margin: auto;

      text-decoration: none;

      transition: 0.3s;

      border-right: solid 2px $PRIMARY_DARK;  

      *{
        vertical-align: middle;
      }

      img{
        margin-top:2px;
        margin-right: 9px;
      }

      span{
        font-size: 18px;
        display: inline;
        color: #fff;
      }

      &:hover{
        background: #317ecc;
      }
    }

    & > nav , & > nav > ul{
      width: 62 * 3px;
      height: 60px;
      
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;

      margin: auto;
      list-style: none;

      font-size:0;

      .menu-button, .drawer-button{
        border-left: solid 2px $PRIMARY_DARK;
      }

      .menu-button{
        color: #fff;
        font-size: 36px;
        position: relative;

        &:hover .description{
          display: block;

          &:before{ 
            content: "";
            display: block;
            position: absolute;
            left: calc(50% - 15px);
            top: -20px;

            width: 0;
            height: 0;

            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $PRIMARY;
            border-left: 10px solid transparent;
          }
        }

        .description{
          text-align: center;
          font-size: 0.8rem;
          
          width: 200px;
          // height: 40px;
          padding: 5px;

          color: #fff;
          background: $PRIMARY;

          position: absolute;

          left: calc(50% - 100px);
          top: 75px;
          display: none;
        }

        #button-feed{
          display: block;
          font:normal normal normal 36px/1 FontAwesome;

          &:before{
            content: "\f09e";
            position: absolute;
            top: 12px;
            left: 16px;
            display: block;
          }

          &:after{
            font-size: 20px;
            content: "\f067";
            position: absolute;
            bottom: 10px;
            right: 4px;
            display: block;
          }
        }

        #button-folder{
          display: block;
          font:normal normal normal 36px/1 FontAwesome;

          &:before{
            content: "\f115";
            position: absolute;
            top: 12px;
            left: 11px;
            display: block;
          }

          &:after{
            font-size: 20px;
            content: "\f067";
            position: absolute;
            bottom: 10px;
            right: 4px;
            display: block;
          }
        }

        #button-help{
          display: block;
          font:normal normal normal 32px/1 FontAwesome;

          &:before{
            content: "\f129";
            position: absolute;
            top : 15px;
            left: 24px;
            display: block;
          }

          &:after{
            content: "";
            position: absolute;
            width : 34px;
            height: 34px;
            border-radius: 50%;
            top : 10px;
            left: 10px;
            border: solid 3px #fff;
            display: block;
          }
        }

      }

      .drawer-button{
        position: relative;

        #hamburger{

          top: 28px;
          left: 15px;

          &, &:before, &:after{
            position: absolute;
            display: block;
            width: 30px;
            height: 4px;
            background-color: #fff;
          }

          &:before{
            content: "";

            top: -10px;
          }

          &:after{
            content: "";

            bottom:-10px;
          }
          
        }
      }

      li{
        width: 60px;
        height: 60px;
        display: inline-block;
        transition: 0.3s;

        position: relative;

        & > div{
          width: 300px;
          height: 100px;

          position: absolute;
          bottom: -120px;
          left: -240px; 

          color: #fff;
          background: $PRIMARY;
          z-index: 50;
          border-radius: 2px;

          opacity: 0.0;
 
          &:after {
            content: '';
            position: absolute;
            border-bottom: 10px solid $PRIMARY;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            top: -10px;
            right: 20px;
          }
        }

        &:hover{
          background: #317ecc;
          cursor: pointer;
        }
      }
    }
  }
}

h1,p{
  margin: 0;
}

.container{
  display: block;
  margin: 0 auto;
}

#main{
  opacity: 0.0;
  
  width: 4000px;
  overflow-x: scroll;
  padding:52px 0 0 0;
  @include clearfix;
    
  .column{
    width: 299px;
    height: calc(100vh - 82px);
    height: -webkit-calc(100vh - 82px);

    border:solid 1px #eee;

    background: #fdfdfd;
    margin: 20px 0 20px 10px;

    float: left;

    overflow: hidden;

    header{
      width: 288px;
      height: 30px;
      padding: 15px 6px;
      background: #eee;

      z-index: 10;

      position: relative;

      *{
        vertical-align: middle;
      }

      h1{
        width: 245px;
        font-weight: normal;

        &:hover{
          cursor: pointer;
        }
      }

      .more{
        position: absolute;
        right: 20px;
        bottom: 17px;
        font-size:22px;
        color: #555;

        i{
          &:hover{
            cursor: pointer;
          }
        }
      }
    }

    main{
      height: calc(100% - 60px);
      height: -webkit-calc(100% - 60px);
      position: relative;

      .column-menu{
        position: absolute;
        top: -39px;

        width: 300px;
        height: 24px;
        padding: 5px 0 10px;
        background: #eee;
        border-top: solid 1px #ccc;

        z-index: 9;

        @include clearfix;

        .left, .right{
          float: left;
          margin: 5px 10px 10px;
        }

        .edit, .close{
          float: right;
          margin: 5px 10px 10px;
        }
      }

      ul{
        height: calc(100% - 20px);
        height: -webkit-calc(100% - 20px);
        padding: 0;
        margin:0;
        list-style: none;
        overflow-y: scroll;
      }

      li{
//        margin: 0 11px;
        padding: 15px 11px;

        color: #555;
        border-bottom: solid 1px #ccc;

        @include clearfix;

        span{
          float: left;
          display: block;
          width: 80px;
          height: 80px;
          border: solid 1px #ccc;
          background-image:url('../images/loading.gif');
          background-position: center center; 
          background-repeat: no-repeat;
          // background-size:cover;
        }

        div{
          width: 170px;
          float: right;

          font-size: 14px;

          a{
            color: #555;
            text-decoration: none;
          }


          .social{
            letter-spacing: 3px;

            a{
              color: #555;

              i{
                transition: 0.2s;
              }
            }

            a:hover{
              .fa-get-pocket{
                color: #DC3D50;
              }

              .fa-facebook-square{
                color: #3B5999;
              }

              .fa-twitter-square{
                color: #55ACEE;
              }

              .fa-envelope{
                color: #888;
              }
            }

          }
        }

        &:hover{
          background: #e2e2e2;
          cursor: pointer;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

.drawer-menu{
  top: 0;
  right: -300px;
  position: fixed;
  
  width: 300px;
  height: 100vh;
  z-index: 10;

  color:#fff;
  background: $PRIMARY;
  border-left: solid 2px $PRIMARY_DARK;

  ul{
    width: inherit;
    height: inherit;
    
    margin:0;
    padding: 0;
    list-style: none;

    li, li > a{
      width: 300px;
      height: 60px;
      font-size:18px;
      border-bottom: solid 2px $PRIMARY_DARK;

      transition: 0.3s;

      *{
        vertical-align: middle;
      }
    }

    li{
      &:first-child{
        width: 299px;
        border-left: solid 1px rgba(255, 255, 255, 0.5);
      }

      &:hover{
        cursor: pointer;
        background: #317ecc;
      }
    }

    li > a{
      width: 280px;
      height: 30px;
      padding: 15px 10px;

      color : #fff;
      text-decoration: none;

      display: block;
    }
  }
}

.modal{
  width: 600px;
  height: 400px;

  color:#555;
  background: #fff;

  display: none;
  text-align: center;

  box-shadow: 0 0 10px rgba(64,64,64,0.8);
  border-radius: 10px 10px 2px 2px / 10px 10px 2px 2px;

  top: calc(50vh - 200px);
  top: -webkit-calc(50vh - 200px);
  left: calc(50vw - 300px);
  left: -webkit-calc(50vw - 300px);
  position: fixed;

  z-index: 100;

  form{
    height: 100%;
  }

  .close{
    &:hover{
      cursor: pointer;
    }
  }

  & > div{
    width: inherit;
    height: inherit;
    display: none;

    h1{
      width: inherit;
      height: 30px;
      padding: 6px 0 4px 0;
      border-radius: 4px 4px 0 0 / 4px 4px 0 0;

      margin:0;

      font-size:20px;
      text-align: center;
      font-weight: normal;

      color: #fff;
      background: $PRIMARY;

      position: relative;

      i{
        position: absolute;
        top: 12px;
        right: 11px;
        font-size: 20px;
      }
    }

    form{
      width: inherit;
      height: 360px;

      margin:0;

      font-size:18px;
      font-weight: 600;
      vertical-align: middle;

      .modal-form-register-area{
        text-align: right;
        vertical-align: middle; 
        
        padding: 0 10px;

        *{
          vertical-align: middle;
        }
      }

      *{
        vertical-align: middle;
        transition:all 0.5s;
        -webkit-transition:all 0.5s;
        outline: none;
      }

      input[type="text"]{
        width: 578px;

        margin:20px 0 0;
        padding: 10px 0;

        color: #555;
        border:solid 1px #ccc;
        border-radius: 4px;

        font-size: 18px;
        text-align: center;
      }

      input[type="submit"]{
        border-radius: 4px;
      }

      select{
        -webkit-appearance:normal;
        -moz-appearance:normal;
        appearance:normal;

        width: 100px;
        height: 39px;

        color: #555;
        background: #fff;
        border: solid 1px #ccc; 

        font-size: 18px;

        //margin:5px auto;
        padding: 9px 15px;
        border-radius: 2px;
        // margin-top: 19px;

        position: relative;
 
        &:after {
          content: '';
          position: absolute;
          border-bottom: 10px solid $PRIMARY;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          top: -10px;
          right: 20px;
          z-index: 100;
        }
      }
    }
  }

  .modal-left{
      width: 25%;
      height: inherit;
      float: left;
      position: relative;
      background: $PRIMARY;

      ul{
        color: #fff;
        padding-left: 0;
        margin:0;
        list-style: none;
        height: 100%; 
        border-right: solid 1px $PRIMARY;
        
        position: relative;

        &:before{
          position: absolute;
          top: 0;
          right: -1px;
          content: "";
          display: block;
          background: #fff;
          width: 1px;
          height: 1px;
        }

        li{
          padding:10px;
          border-bottom: solid 1px #fff;

        transition:none;
        -webkit-transition:none;

          &:first-child{
            border-top: solid 1px #fff;
          }

          &.active{
            color: $PRIMARY;
            background: #fff;
          }

          &:hover{
            cursor: pointer;
          }
        }
      }
  }

  .modal-right{
      width: 70%;
      height: inherit;
      float: right;
      text-align: center;
      display: none;

      h2{
        margin:10px;
      }

      &.user{
        display: block;
      }

    input:not([type="submit"]){
      width: 200px;

      padding: 4px 0;

      color: #555;
      border:solid 1px #ccc;
      border-radius: 4px;

      font-size: 14px;
      text-align: center;
    }
  }

  dd{
    margin: 0;
    font-weight: normal;
  }

  #add-feed, #add-category{
    margin-top: 95px;
  }

  #edit-category{
    .nameZone{
      width: 500px;
      margin: 20px auto;
      @include clearfix();

      input[type="text"]{
        width: 300px;

        margin:0;
        padding: 5px 0;

        color: #555;
        border:solid 1px #ccc;
        border-radius: 4px;

        font-size: 14px;
        text-align: center;
        float: left;
      }

      .category-name-update{
        padding: 5px 10px;
        display: block;
        font-size: 12px;
        float: right;
        margin: 0;
      }
    }

    .ListView{
      width: 500px;
      margin: 10px auto;
      overflow: hidden;
      border:solid 1px #aaa;

      ul{
        width: 530px;
        height: 190px;
        overflow-x:hidden;
        overflow-y:scroll;
        margin: 0;
        padding: 0;
        list-style: none;

        li{
          width: 478px;
          padding: 10px;
          background: #eee;
          border: solid 1px #ccc;
          border-bottom: none;
          text-align: left;
          position: relative;

          .remove-feed{
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: 22px;
            height: 22px;
          }

          &:last-child{
            border-bottom: solid 1px #ccc;
          }
        }
      }

    }
  }
}

.modal-background{
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100vw;
  height: 100vh;
  
  z-index: 10;

  background: rgba(64, 64, 64, 0.7);
}

input.button{
  color: #fff;
  background: $PRIMARY;

  font-size: 18px;

  border: none;

  margin:5px auto;
  padding: 5px 15px;
  border-radius: 2px;
  border: solid 1px #fff;

  -webkit-transition:all 0.5s;
  transition: all 0.5s;

  &:hover{
    background: #fff;
    color: $PRIMARY;
    border: solid 1px $PRIMARY;
    cursor: pointer;
  }
}