/* line 3, ../scss/_general.scss */
iframe[name="google_conversion_frame"] {
  display: none;
}

/* line 7, ../scss/_general.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 12, ../scss/_general.scss */
body > .sp {
  width: 100%;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  overflow-x: scroll;
  overflow-y: hidden;
}

/* line 20, ../scss/_general.scss */
body {
  margin: 0;
  padding: 0;
  background: #dddddd;
  overflow-y: hidden;
}
/* line 29, ../scss/_general.scss */
body * {
  font-family: 'Noto Sans Japanese', "Hiragino Kaku Gothic Pro W3","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
/* line 33, ../scss/_general.scss */
body > header {
  width: 100vw;
  height: 60px;
  margin: 0;
  padding: 0;
  display: block;
  background: #1f5081;
  border-bottom: solid 6px #13314f;
  z-index: 100;
  position: fixed;
}
/* line 45, ../scss/_general.scss */
body > header a {
  width: 120px;
  height: 36px;
  padding: 12px 12px 12px 24px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  transition: 0.3s;
  border-right: solid 2px #13314f;
}
/* line 64, ../scss/_general.scss */
body > header a * {
  vertical-align: middle;
}
/* line 68, ../scss/_general.scss */
body > header a img {
  margin-top: 2px;
  margin-right: 9px;
}
/* line 73, ../scss/_general.scss */
body > header a span {
  font-size: 18px;
  display: inline;
  color: #fff;
}
/* line 79, ../scss/_general.scss */
body > header a:hover {
  background: #317ecc;
}
/* line 84, ../scss/_general.scss */
body > header > nav, body > header > nav > ul {
  width: 186px;
  height: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  list-style: none;
  font-size: 0;
}
/* line 98, ../scss/_general.scss */
body > header > nav .menu-button, body > header > nav .drawer-button, body > header > nav > ul .menu-button, body > header > nav > ul .drawer-button {
  border-left: solid 2px #13314f;
}
/* line 102, ../scss/_general.scss */
body > header > nav .menu-button, body > header > nav > ul .menu-button {
  color: #fff;
  font-size: 36px;
  position: relative;
}
/* line 107, ../scss/_general.scss */
body > header > nav .menu-button:hover .description, body > header > nav > ul .menu-button:hover .description {
  display: block;
}
/* line 110, ../scss/_general.scss */
body > header > nav .menu-button:hover .description:before, body > header > nav > ul .menu-button:hover .description:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  top: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1f5081;
  border-left: 10px solid transparent;
}
/* line 127, ../scss/_general.scss */
body > header > nav .menu-button .description, body > header > nav > ul .menu-button .description {
  text-align: center;
  font-size: 0.8rem;
  width: 200px;
  padding: 5px;
  color: #fff;
  background: #1f5081;
  position: absolute;
  left: calc(50% - 100px);
  top: 75px;
  display: none;
}
/* line 145, ../scss/_general.scss */
body > header > nav .menu-button #button-feed, body > header > nav > ul .menu-button #button-feed {
  display: block;
  font: normal normal normal 36px/1 FontAwesome;
}
/* line 149, ../scss/_general.scss */
body > header > nav .menu-button #button-feed:before, body > header > nav > ul .menu-button #button-feed:before {
  content: "\f09e";
  position: absolute;
  top: 12px;
  left: 16px;
  display: block;
}
/* line 157, ../scss/_general.scss */
body > header > nav .menu-button #button-feed:after, body > header > nav > ul .menu-button #button-feed:after {
  font-size: 20px;
  content: "\f067";
  position: absolute;
  bottom: 10px;
  right: 4px;
  display: block;
}
/* line 167, ../scss/_general.scss */
body > header > nav .menu-button #button-folder, body > header > nav > ul .menu-button #button-folder {
  display: block;
  font: normal normal normal 36px/1 FontAwesome;
}
/* line 171, ../scss/_general.scss */
body > header > nav .menu-button #button-folder:before, body > header > nav > ul .menu-button #button-folder:before {
  content: "\f115";
  position: absolute;
  top: 12px;
  left: 11px;
  display: block;
}
/* line 179, ../scss/_general.scss */
body > header > nav .menu-button #button-folder:after, body > header > nav > ul .menu-button #button-folder:after {
  font-size: 20px;
  content: "\f067";
  position: absolute;
  bottom: 10px;
  right: 4px;
  display: block;
}
/* line 189, ../scss/_general.scss */
body > header > nav .menu-button #button-help, body > header > nav > ul .menu-button #button-help {
  display: block;
  font: normal normal normal 32px/1 FontAwesome;
}
/* line 193, ../scss/_general.scss */
body > header > nav .menu-button #button-help:before, body > header > nav > ul .menu-button #button-help:before {
  content: "\f129";
  position: absolute;
  top: 15px;
  left: 24px;
  display: block;
}
/* line 201, ../scss/_general.scss */
body > header > nav .menu-button #button-help:after, body > header > nav > ul .menu-button #button-help:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: solid 3px #fff;
  display: block;
}
/* line 216, ../scss/_general.scss */
body > header > nav .drawer-button, body > header > nav > ul .drawer-button {
  position: relative;
}
/* line 219, ../scss/_general.scss */
body > header > nav .drawer-button #hamburger, body > header > nav > ul .drawer-button #hamburger {
  top: 28px;
  left: 15px;
}
/* line 224, ../scss/_general.scss */
body > header > nav .drawer-button #hamburger, body > header > nav .drawer-button #hamburger:before, body > header > nav .drawer-button #hamburger:after, body > header > nav > ul .drawer-button #hamburger, body > header > nav > ul .drawer-button #hamburger:before, body > header > nav > ul .drawer-button #hamburger:after {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
}
/* line 232, ../scss/_general.scss */
body > header > nav .drawer-button #hamburger:before, body > header > nav > ul .drawer-button #hamburger:before {
  content: "";
  top: -10px;
}
/* line 238, ../scss/_general.scss */
body > header > nav .drawer-button #hamburger:after, body > header > nav > ul .drawer-button #hamburger:after {
  content: "";
  bottom: -10px;
}
/* line 247, ../scss/_general.scss */
body > header > nav li, body > header > nav > ul li {
  width: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}
/* line 255, ../scss/_general.scss */
body > header > nav li > div, body > header > nav > ul li > div {
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: -120px;
  left: -240px;
  color: #fff;
  background: #1f5081;
  z-index: 50;
  border-radius: 2px;
  opacity: 0.0;
}
/* line 270, ../scss/_general.scss */
body > header > nav li > div:after, body > header > nav > ul li > div:after {
  content: '';
  position: absolute;
  border-bottom: 10px solid #1f5081;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -10px;
  right: 20px;
}
/* line 281, ../scss/_general.scss */
body > header > nav li:hover, body > header > nav > ul li:hover {
  background: #317ecc;
  cursor: pointer;
}

/* line 290, ../scss/_general.scss */
h1, p {
  margin: 0;
}

/* line 294, ../scss/_general.scss */
.container {
  display: block;
  margin: 0 auto;
}

/* line 299, ../scss/_general.scss */
#main {
  opacity: 0.0;
  width: 4000px;
  overflow-x: scroll;
  padding: 52px 0 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 307, ../scss/_general.scss */
#main .column {
  width: 299px;
  height: calc(100vh - 82px);
  height: -webkit-calc(100vh - 82px);
  border: solid 1px #eee;
  background: #fdfdfd;
  margin: 20px 0 20px 10px;
  float: left;
  overflow: hidden;
}
/* line 321, ../scss/_general.scss */
#main .column header {
  width: 288px;
  height: 30px;
  padding: 15px 6px;
  background: #eee;
  z-index: 10;
  position: relative;
}
/* line 331, ../scss/_general.scss */
#main .column header * {
  vertical-align: middle;
}
/* line 335, ../scss/_general.scss */
#main .column header h1 {
  width: 245px;
  font-weight: normal;
}
/* line 339, ../scss/_general.scss */
#main .column header h1:hover {
  cursor: pointer;
}
/* line 344, ../scss/_general.scss */
#main .column header .more {
  position: absolute;
  right: 20px;
  bottom: 17px;
  font-size: 22px;
  color: #555;
}
/* line 352, ../scss/_general.scss */
#main .column header .more i:hover {
  cursor: pointer;
}
/* line 359, ../scss/_general.scss */
#main .column main {
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  position: relative;
}
/* line 364, ../scss/_general.scss */
#main .column main .column-menu {
  position: absolute;
  top: -39px;
  width: 300px;
  height: 24px;
  padding: 5px 0 10px;
  background: #eee;
  border-top: solid 1px #ccc;
  z-index: 9;
  overflow: hidden;
  *zoom: 1;
}
/* line 378, ../scss/_general.scss */
#main .column main .column-menu .left, #main .column main .column-menu .right {
  float: left;
  margin: 5px 10px 10px;
}
/* line 383, ../scss/_general.scss */
#main .column main .column-menu .edit, #main .column main .column-menu .close {
  float: right;
  margin: 5px 10px 10px;
}
/* line 389, ../scss/_general.scss */
#main .column main ul {
  height: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}
/* line 398, ../scss/_general.scss */
#main .column main li {
  padding: 15px 11px;
  color: #555;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
  *zoom: 1;
}
/* line 407, ../scss/_general.scss */
#main .column main li span {
  float: left;
  display: block;
  width: 80px;
  height: 80px;
  border: solid 1px #ccc;
  background-image: url("../images/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 419, ../scss/_general.scss */
#main .column main li div {
  width: 170px;
  float: right;
  font-size: 14px;
}
/* line 425, ../scss/_general.scss */
#main .column main li div a {
  color: #555;
  text-decoration: none;
}
/* line 431, ../scss/_general.scss */
#main .column main li div .social {
  letter-spacing: 3px;
}
/* line 434, ../scss/_general.scss */
#main .column main li div .social a {
  color: #555;
}
/* line 437, ../scss/_general.scss */
#main .column main li div .social a i {
  transition: 0.2s;
}
/* line 443, ../scss/_general.scss */
#main .column main li div .social a:hover .fa-get-pocket {
  color: #DC3D50;
}
/* line 447, ../scss/_general.scss */
#main .column main li div .social a:hover .fa-facebook-square {
  color: #3B5999;
}
/* line 451, ../scss/_general.scss */
#main .column main li div .social a:hover .fa-twitter-square {
  color: #55ACEE;
}
/* line 455, ../scss/_general.scss */
#main .column main li div .social a:hover .fa-envelope {
  color: #888;
}
/* line 463, ../scss/_general.scss */
#main .column main li:hover {
  background: #e2e2e2;
  cursor: pointer;
}
/* line 468, ../scss/_general.scss */
#main .column main li:last-child {
  border-bottom: none;
}

/* line 476, ../scss/_general.scss */
.drawer-menu {
  top: 0;
  right: -300px;
  position: fixed;
  width: 300px;
  height: 100vh;
  z-index: 10;
  color: #fff;
  background: #1f5081;
  border-left: solid 2px #13314f;
}
/* line 489, ../scss/_general.scss */
.drawer-menu ul {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 497, ../scss/_general.scss */
.drawer-menu ul li, .drawer-menu ul li > a {
  width: 300px;
  height: 60px;
  font-size: 18px;
  border-bottom: solid 2px #13314f;
  transition: 0.3s;
}
/* line 505, ../scss/_general.scss */
.drawer-menu ul li *, .drawer-menu ul li > a * {
  vertical-align: middle;
}
/* line 511, ../scss/_general.scss */
.drawer-menu ul li:first-child {
  width: 299px;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
}
/* line 516, ../scss/_general.scss */
.drawer-menu ul li:hover {
  cursor: pointer;
  background: #317ecc;
}
/* line 522, ../scss/_general.scss */
.drawer-menu ul li > a {
  width: 280px;
  height: 30px;
  padding: 15px 10px;
  color: #fff;
  text-decoration: none;
  display: block;
}

/* line 535, ../scss/_general.scss */
.modal {
  width: 600px;
  height: 400px;
  color: #555;
  background: #fff;
  display: none;
  text-align: center;
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.8);
  border-radius: 10px 10px 2px 2px / 10px 10px 2px 2px;
  top: calc(50vh - 200px);
  top: -webkit-calc(50vh - 200px);
  left: calc(50vw - 300px);
  left: -webkit-calc(50vw - 300px);
  position: fixed;
  z-index: 100;
}
/* line 556, ../scss/_general.scss */
.modal form {
  height: 100%;
}
/* line 561, ../scss/_general.scss */
.modal .close:hover {
  cursor: pointer;
}
/* line 566, ../scss/_general.scss */
.modal > div {
  width: inherit;
  height: inherit;
  display: none;
}
/* line 571, ../scss/_general.scss */
.modal > div h1 {
  width: inherit;
  height: 30px;
  padding: 6px 0 4px 0;
  border-radius: 4px 4px 0 0 / 4px 4px 0 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  background: #1f5081;
  position: relative;
}
/* line 588, ../scss/_general.scss */
.modal > div h1 i {
  position: absolute;
  top: 12px;
  right: 11px;
  font-size: 20px;
}
/* line 596, ../scss/_general.scss */
.modal > div form {
  width: inherit;
  height: 360px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}
/* line 606, ../scss/_general.scss */
.modal > div form .modal-form-register-area {
  text-align: right;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 612, ../scss/_general.scss */
.modal > div form .modal-form-register-area * {
  vertical-align: middle;
}
/* line 617, ../scss/_general.scss */
.modal > div form * {
  vertical-align: middle;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  outline: none;
}
/* line 624, ../scss/_general.scss */
.modal > div form input[type="text"] {
  width: 578px;
  margin: 20px 0 0;
  padding: 10px 0;
  color: #555;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
}
/* line 638, ../scss/_general.scss */
.modal > div form input[type="submit"] {
  border-radius: 4px;
}
/* line 642, ../scss/_general.scss */
.modal > div form select {
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  width: 100px;
  height: 39px;
  color: #555;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 18px;
  padding: 9px 15px;
  border-radius: 2px;
  position: relative;
}
/* line 663, ../scss/_general.scss */
.modal > div form select:after {
  content: '';
  position: absolute;
  border-bottom: 10px solid #1f5081;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -10px;
  right: 20px;
  z-index: 100;
}
/* line 677, ../scss/_general.scss */
.modal .modal-left {
  width: 25%;
  height: inherit;
  float: left;
  position: relative;
  background: #1f5081;
}
/* line 684, ../scss/_general.scss */
.modal .modal-left ul {
  color: #fff;
  padding-left: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  border-right: solid 1px #1f5081;
  position: relative;
}
/* line 694, ../scss/_general.scss */
.modal .modal-left ul:before {
  position: absolute;
  top: 0;
  right: -1px;
  content: "";
  display: block;
  background: #fff;
  width: 1px;
  height: 1px;
}
/* line 705, ../scss/_general.scss */
.modal .modal-left ul li {
  padding: 10px;
  border-bottom: solid 1px #fff;
  transition: none;
  -webkit-transition: none;
}
/* line 712, ../scss/_general.scss */
.modal .modal-left ul li:first-child {
  border-top: solid 1px #fff;
}
/* line 716, ../scss/_general.scss */
.modal .modal-left ul li.active {
  color: #1f5081;
  background: #fff;
}
/* line 721, ../scss/_general.scss */
.modal .modal-left ul li:hover {
  cursor: pointer;
}
/* line 728, ../scss/_general.scss */
.modal .modal-right {
  width: 70%;
  height: inherit;
  float: right;
  text-align: center;
  display: none;
}
/* line 735, ../scss/_general.scss */
.modal .modal-right h2 {
  margin: 10px;
}
/* line 739, ../scss/_general.scss */
.modal .modal-right.user {
  display: block;
}
/* line 743, ../scss/_general.scss */
.modal .modal-right input:not([type="submit"]) {
  width: 200px;
  padding: 4px 0;
  color: #555;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
/* line 757, ../scss/_general.scss */
.modal dd {
  margin: 0;
  font-weight: normal;
}
/* line 762, ../scss/_general.scss */
.modal #add-feed, .modal #add-category {
  margin-top: 95px;
}
/* line 767, ../scss/_general.scss */
.modal #edit-category .nameZone {
  width: 500px;
  margin: 20px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 772, ../scss/_general.scss */
.modal #edit-category .nameZone input[type="text"] {
  width: 300px;
  margin: 0;
  padding: 5px 0;
  color: #555;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  float: left;
}
/* line 787, ../scss/_general.scss */
.modal #edit-category .nameZone .category-name-update {
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  float: right;
  margin: 0;
}
/* line 796, ../scss/_general.scss */
.modal #edit-category .ListView {
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
  border: solid 1px #aaa;
}
/* line 802, ../scss/_general.scss */
.modal #edit-category .ListView ul {
  width: 530px;
  height: 190px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 811, ../scss/_general.scss */
.modal #edit-category .ListView ul li {
  width: 478px;
  padding: 10px;
  background: #eee;
  border: solid 1px #ccc;
  border-bottom: none;
  text-align: left;
  position: relative;
}
/* line 820, ../scss/_general.scss */
.modal #edit-category .ListView ul li .remove-feed {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 22px;
  height: 22px;
}
/* line 831, ../scss/_general.scss */
.modal #edit-category .ListView ul li:last-child {
  border-bottom: solid 1px #ccc;
}

/* line 841, ../scss/_general.scss */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(64, 64, 64, 0.7);
}

/* line 855, ../scss/_general.scss */
input.button {
  color: #fff;
  background: #1f5081;
  font-size: 18px;
  border: none;
  margin: 5px auto;
  padding: 5px 15px;
  border-radius: 2px;
  border: solid 1px #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 871, ../scss/_general.scss */
input.button:hover {
  background: #fff;
  color: #1f5081;
  border: solid 1px #1f5081;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  /* line 4, ../scss/_smart.scss */
  body > header a {
    padding: 12px 4px 12px 16px;
    border-right: none;
  }

  /* line 9, ../scss/_smart.scss */
  body > main {
    padding-left: 0;
  }

  /* line 13, ../scss/_smart.scss */
  .modal {
    width: 300px;
    height: 400px;
    top: calc(50vh - 200px);
    top: -webkit-calc(50vh - 200px);
    left: calc(50vw - 150px);
    left: -webkit-calc(50vw - 150px);
  }
  /* line 21, ../scss/_smart.scss */
  .modal #add-feed {
    margin-top: 5px;
  }
  /* line 25, ../scss/_smart.scss */
  .modal #add-category {
    margin-top: 30px;
  }
  /* line 27, ../scss/_smart.scss */
  .modal #add-category input {
    margin-bottom: 30px;
  }
  /* line 33, ../scss/_smart.scss */
  .modal #edit-category .nameZone {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 38, ../scss/_smart.scss */
  .modal #edit-category .nameZone input[type="text"] {
    width: 130px;
    margin: 0 0 0 10px;
    padding: 5px 0;
    color: #555;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    float: left;
  }
  /* line 53, ../scss/_smart.scss */
  .modal #edit-category .nameZone .category-name-update {
    width: 130px;
    margin: 0;
    margin-right: 10px;
    padding: 5px 10px;
    display: block;
    font-size: 12px;
    float: right;
  }
  /* line 65, ../scss/_smart.scss */
  .modal #edit-category .ListView {
    width: calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
  }
  /* line 69, ../scss/_smart.scss */
  .modal #edit-category .ListView ul {
    width: 100%;
    height: 286px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    list-style: none;
  }
  /* line 78, ../scss/_smart.scss */
  .modal #edit-category .ListView ul li {
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    padding: 10px;
    background: #eee;
    border: solid 1px #ccc;
    border-bottom: none;
    text-align: left;
    position: relative;
  }
  /* line 89, ../scss/_smart.scss */
  .modal #edit-category .ListView ul li .remove-feed {
    right: 0;
    padding-right: 10px;
    background: #eee;
  }
  /* line 95, ../scss/_smart.scss */
  .modal #edit-category .ListView ul li:last-child {
    border-bottom: solid 1px #ccc;
  }
  /* line 104, ../scss/_smart.scss */
  .modal > div form input[type="text"] {
    width: 280px;
  }
  /* line 108, ../scss/_smart.scss */
  .modal > div form div.modal-form-register-area {
    text-align: center;
  }
  /* line 115, ../scss/_smart.scss */
  .modal .modal-user .modal-left {
    width: 100%;
    height: 41px;
    float: none;
  }
  /* line 120, ../scss/_smart.scss */
  .modal .modal-user .modal-left ul {
    border-top: none;
    font-size: 0;
    height: 40px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #1f5081;
    border-right: none;
  }
  /* line 129, ../scss/_smart.scss */
  .modal .modal-user .modal-left ul:before {
    display: none;
  }
  /* line 133, ../scss/_smart.scss */
  .modal .modal-user .modal-left ul li {
    font-size: 14px;
    width: calc(33% - 19px);
    display: inline-block;
    border: none;
  }
  /* line 142, ../scss/_smart.scss */
  .modal .modal-user .modal-right {
    width: 100%;
    height: 200px;
    float: none;
  }
  /* line 147, ../scss/_smart.scss */
  .modal .modal-user .modal-right .button {
    margin-top: -10px;
  }
  /* line 151, ../scss/_smart.scss */
  .modal .modal-user .modal-right h2 {
    margin: 0;
  }
  /* line 155, ../scss/_smart.scss */
  .modal .modal-user .modal-right:not(.about) h2 {
    display: none;
  }
  /* line 159, ../scss/_smart.scss */
  .modal .modal-user .modal-right.about h2 {
    margin-top: 5px;
  }
  /* line 161, ../scss/_smart.scss */
  .modal .modal-user .modal-right.about h2 img {
    width: 75px;
    height: 75px;
  }
  /* line 168, ../scss/_smart.scss */
  .modal .modal-user .modal-right dl dt {
    width: 30%;
    display: inline-block;
  }
  /* line 173, ../scss/_smart.scss */
  .modal .modal-user .modal-right dl dd {
    width: 65%;
    display: inline-block;
  }
  /* line 176, ../scss/_smart.scss */
  .modal .modal-user .modal-right dl dd input {
    width: 150px;
  }
}
/* line 12, ../scss/style.scss */
* {
  outline: none;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../font/Noto.woff") format("woff");
}
